body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f5fbff;
  color:#0a2540;
}

header{
  background:#1e90ff;
  color:white;
}

button{
  background:#1e90ff;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:8px;
  font-size:16px;
}

button:hover{
  background:#187bcd;
}

.referral-box{
  background:white;
  padding:20px;
  margin:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
